* {
  margin: 0;
  padding: 0;
  --yellow: #ffd460;
  --orange: #f07b3f;
  --red: #ea5455;
  --black: #2d4059;
  -webkit-overflow-scrolling: auto
}

/* 输入控件字重默认继承父元素 */
input,
textarea {
  font-weight: inherit
}

@import url('./fontFamliy.css');
@import url(./animation.css);


/* 按钮取消hover */
.el-button:hover:not() {
  /* pointer-events: */
  color: #FFF;
  background-color: #409EFF;
  border-color: #409EFF
}

.hover:hover {
  opacity: 0.8;
  cursor: pointer;
}
