/* Zihunchuangcuyuan */
@font-face {
  font-family: 'Zihunchuangcuyuan';
  font-weight: 300;
  src:url('../assets/font-family/Zihunchuangcuyuan/Zihunchuangcuyuan-Light.ttf')
}
@font-face {
  font-family: 'Zihunchuangcuyuan';
  font-weight: 400;
  src:url('../assets/font-family/Zihunchuangcuyuan/Zihunchuangcuyuan-Regular.ttf')
}
@font-face {
  font-family: 'Zihunchuangcuyuan';
  font-weight: 700;
  src:url('../assets/font-family/Zihunchuangcuyuan/Zihunchuangcuyuan-Bold.ttf')
}